DATABASE_URL=postgres://postgres:secret@localhost:5432/db
REDIS_URL=redis://localhost:6379/0

# Comma-separated list of flags to enable specific features
# Available flags: ui, readonly, staging
# FLAGS=ui,readonly,staging
